# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
.venv/
venv/
env/
ENV/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Local project data
# -------------------------
backend/uploads/*
backend/vector_db/
backend/chats/
backend/*.json
backend/README.md


data/*

frontend/*.txt



# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
.cursor/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/